<template lang="pug">
    .comment-form
        h3 Добавить комментарий
        transition(name="slide")
            sui-message(error, v-if="error != ''")
                sui-message-header Ошибка!
                p {{ error }}
        sui-form.form
            sui-form-field
                label Имя
                input(v-model.trim="author")
            sui-form-field
                label Комментарий
                textarea(v-model.trim="text")
            sui-button(color="green", onclick="event.preventDefault()", @click="addComment", :loading="loading") Отправить
</template>

<script lang="coffee">
    import moment from "moment"

    export default
        data: ->
            author: ""
            text: ""
            error: ""
            loading: false

        methods:
            set: (key, value) -> @$store.commit "set", { key, value }
            
            addComment: ->
                unless @loading

                    if @author == ""
                        @error = "Не указано имя!"
                    else if @text == ""
                        @error = "Не указан текст комментария!"
                    else
                        @error = ""

                    if @error == ""
                        @loading = true
                        self = @
                        setTimeout (->
                            comments = self.$store.state.comments
                            comments.push
                                author: self.author
                                date: moment()
                                text: self.text
                            self.set "comments", comments
                            comments = []
                            self.author = ""
                            self.text = ""
                            self.loading = false
                        ), 1000
</script>

<style lang="sass" scoped>
    // Анимации

    .slide-enter-active, .slide-leave-active
        transition: .5s

    .slide-enter, .slide-leave-to
        transform: scaleY(0)
</style>
