<template lang="pug">
    .comment-block
        sui-comment-group.comment-block_comments.comments
            h3 Комментарии
            sui-comment.comments__comment.comment(v-for="comment in $store.state.comments", v-if="$store.state.comments.length > 0")
                sui-comment-avatar.comment__avatar(src="http://www.rfassociates.com.au/images/blank-avatar.jpg")
                sui-comment-content.comment__content.content
                    sui-comment-author.content__author {{ comment.author }}
                    .content__control.control
                        sui-icon.control__edit(name="edit", @click="editComment(comment)")
                        sui-icon.control__remove(name="window close", @click="removeComment(comment)")
                    sui-comment-metadata.content__meta {{ comment.date | normalDate }}
                    sui-comment-text.content__text {{ comment.text }}
            .comments__empty(v-if="$store.state.comments.length == 0") Пусто
        .comment-block__modals.modals
            sui-modal.modals__edit.edit(v-model="open_edit")
                sui-modal-header Редактировать комментарий пользователя {{ author_edit }}
                sui-modal-content
                    sui-modal-description
                        textarea.edit__textarea(v-model="text_edit")
                sui-modal-actions
                    sui-button(color="green", @click="doneEdit") Готово
                    sui-button(color="red", @click="toggleEdit") Отмена
            sui-modal.modals__remove.remove(v-model="open_remove")
                sui-modal-header Удалить комментарий пользователя {{ author_remove }}?
                sui-modal-content
                    sui-modal-description
                        p {{ text_remove }}
                sui-modal-actions
                    sui-button(color="green", @click="doneRemove") Удалить
                    sui-button(color="red", @click="toggleRemove") Отмена
</template>

<script lang="coffee">
    import _ from "lodash"
    import moment from "moment"

    export default
        data: ->
            open_edit: false
            comment_edit: {}
            author_edit: ""
            text_edit: ""
            open_remove: false
            comment_remove: {}
            author_remove: ""
            text_remove: ""

        methods:
            set: (key, value) -> @$store.commit "set", { key, value }

            editComment: (value) ->
                @comment_edit = value
                @author_edit = value.author
                @text_edit = value.text
                @toggleEdit()

            toggleEdit: ->
                @open_edit = !@open_edit

            doneEdit: ->
                comments = [@$store.state.comments...]
                index = _.findIndex comments, @comment_edit
                comments[index].text = @text_edit
                @set "comments", comments
                @toggleEdit()

            removeComment: (value) ->
                @comment_remove = value
                @author_remove = value.author
                @text_remove = value.text
                @toggleRemove()

            toggleRemove: ->
                @open_remove = !@open_remove
                
            doneRemove: ->
                comments = _.reject @$store.state.comments, @comment_remove
                @set "comments", comments
                @toggleRemove()

        filters:
            normalDate: (value) -> moment(value).format "HH:mm DD.MM.YYYY"
</script>

<style lang="sass" scoped>
    $light-gray: #dedede
    $gray: #888

    .comment-block
        margin: 60px 0

    .comment
        width: calc(100% + 120px)
        padding-bottom: 10px !important

        &:not(:last-child)
            border-bottom: 1px solid $light-gray

        &__avatar
            width: 50px !important

    .content
        font-size: 18px

        &__author
            display: inline-block
        
        &__meta
            float: right

        &__control
            float: right
            margin-left: 20px

    .control

        &__edit, &__remove
            transition: .5s
            cursor: pointer
            &:hover
                color: $gray

    .edit

        &__textarea
            height: 200px
            width: 100%
            padding: 10px
            border: 1px solid $light-gray
            border-radius: 5px
            resize: none
            outline: none
</style>
