<template lang="pug">
    .main
        sui-segment(raised)
            article-block
            comment-block
            comment-form
</template>

<style lang="sass" scoped>
    .main
        width: 800px
        margin: 0 auto
        padding: 20px 0
</style>
