<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Статья
        link(rel="stylesheet", href="index.sass")
    body.body
        #app
        script(src="index.coffee")
